@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add custom font (optional) */
* {
  box-sizing: border-box;
  scrollbar-width:none; /* Firefox */
  scrollbar-color: #3b82f6 #f1f1f1; /* Firefox */
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}

html, body {
  overflow-x: hidden; /* Disable horizontal scrolling */
  margin: 0;
  padding: 0;
}

body {
  @apply font-sans bg-gray-50 text-gray-800;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.hero_section {
  background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/hero/hero-1.png"), no-repeat center center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: cover;
  padding-top: 170px;
  padding-bottom: 90px;
}

/* Hide scrollbar but maintain functionality */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

/* Add custom animations */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-out forwards;
}
